POMO_HTTP_PORT=8082
POMO_DB_HOST=localhost
POMO_DB_PORT=5434
POMO_DB_USER=pomodoro
POMO_DB_PASSWORD=pomodoro
POMO_DB_NAME=pomodoro
POMO_DB_SSLMODE=disable
POMO_KAFKA_BROKERS=localhost:9094
POMO_KAFKA_TOPIC=pomodoro.events
POMO_TASKS_URL=http://localhost:8081
POMO_TASKS_SOURCE=tasks
POMO_LOG_LEVEL=info
